#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

img {
  width: 600px;
  height: 100px;
  border-radius: 12px;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to bottom right, #fdf6e3, #fceabb, #f8d9b0);  color: #333;
  height: 100%;
  line-height: 1.6;
  font-size: 1.1rem;
}

.App {
  text-align: center;
  padding: 20px;
}

.header h1 {
  font-family: 'Georgia', serif;
  font-size: 2.5rem;
  color: #2e4053;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

.header h3 {
  font-weight: normal;
  color: #5c5c5c;
  margin-top: 0;
  font-style: italic;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.card {
  width: 500px;
  height: 250px;
  margin-bottom: 20px;
  perspective: 1000px;
  cursor: pointer;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.1s;
  transform-style: preserve-3d;
}

.card.flipped .card-inner {
  transform: rotateX(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border: 3px solid saddlebrown;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Georgia', serif;
  background-color: tan;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}

.card-back {
  transform: rotateX(180deg);
  background-color: wheat;
}

.in, .button {
  background-color: #2e86ab;
  color: white;
  border: none;
  padding: 12px 24px;
  font-size: 1.2rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.in:hover, .button:hover {
  background-color: #145374;
  transform: scale(1.05);
}

.out {
  border: none;
  padding: 12px 24px;
  font-size: 1.2rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

input {
  margin-bottom: 30px;
  padding: 5px 10px;
}

.wrong {
  border: 5px solid red;
}

.correct {
  border: 5px solid green;
}
